@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
/* shared style */
*{
    margin: 0;
    padding: 0;
    max-width: 1440px;
    box-sizing: border-box;
}

#para-1{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#para-2{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: .75rem;
}
#heading{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
}
#heading-2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
#btn-primary{
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1.25rem;
    border-radius: 2.5rem;
    border: none;
    
    
}
#btn-second{
    border-radius: 2.6rem;
    padding: 1rem 2.5rem;
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

/* nav-bar style starts here */
header{
    
    background:linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%), black ;
}

nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
}
nav-bar h1{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
nav-bar .nav-item{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
nav-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 1.5rem;
}
nav-bar .icon{
    color:rgb(255, 255, 255) ;
    font-size: 1.2rem;
    display: none;
    
}
/* nav-bar style ends here */

/* banner style starts here */
.banner{
    display: flex;
    gap: 12rem;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
}
.banner-content{
    width: 42%;
}
.banner-image{
    width: 35%;
    position: relative;

}
.banner-image1{
    width: 100%;
    z-index: -1;
}
.banner-image1 img{
    width: 100%;
    
}
.banner-content h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 80px;
}
#shape{
    font-family: miama; 
    font-size: 8rem; 
    z-index: -1;
    font-size: 400;
}
.banner-card1{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 1.5rem;
    width: 45%;
    position: absolute;
    top: 25%;
    right: -15%;
}
.banner-card1 h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
}
.banner-card1 p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: .85rem;
    font-weight: 400;
}
.banner-card2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 1.5rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    gap: .5rem;
    position: absolute;
    bottom: 13%;
    left: -25%;
}
.circle{
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.banner-card2 h3{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 900;
}
.banner-card2 p{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

/* banner style ends here */
main{
    background-color: black;
}
/* habit section style starts here */
.habit{
    text-align: center;
    padding-top: 4rem;
    margin: 0 3rem;
    justify-content: center;
    align-items: center;
}
.habit-content{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.habit-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.habit-item h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: .75rem;

}
.habit-item img{
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.201);
}
/* habit section style ends here */
/* run section style starts here */
.run-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34); 
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.run-content{
    width: 45%;
    padding: 2.5rem 3.5rem;
}
.run-image{
    width: 35%;
    padding-right: 1.5rem;
}
.run-image img{
    width: 100%;
    border-radius: 18px;

    background: url(4);
}
/* run section style starts here */

/* training section style starts here */
.training-content{
    width: 50%;
    margin: 3rem 1rem 3rem 4rem;
}
.training-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
    aspect-ratio: 16/7;
    margin: 1rem 3rem;
}
.training-1{
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;
    background-image: url(../images/exercise1.jpg);
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.training-content-1{
    display: flex;
    align-items: end;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}
.training-2{
    grid-column: 4/ span 6;
    grid-row: 1/ span 2;
    background-image: url(../images/exercise2.png);
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.training-content-2{
    padding: 1rem;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}
.training-3{
    grid-column: 10/ span 3;
    grid-row: 1/ span 2;
    background-image: url(../images/exercise3.png);
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.training-content-3{
    display: flex;
    align-items: end;
    padding: 1rem;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.training-3 p{
    width: 60%;
}
.training-4{
    grid-column: 1/ span 5;
    grid-row: 3/ span 4;
    background-image: url(../images/exercise4.png);
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.training-content-4{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    padding: 1rem;
    height: 100%;
    width: 100%;
}
.training-4 p{
    width: 40%;
}
.training-5{
    grid-column: 6/ span 3;
    grid-row: 3/ span 4;
    background-image: url(../images/exercise5.jpg);
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.training-content-5{
    display: flex;
    align-items: end;
    padding: 1rem;
    height: 100%;
    width: 100%;
    background-color: rgba(66, 255, 0, 0.3);
}
.training-5 p{
    width: 60%;
}
.training-6{
    grid-column: 9/ span 4;
    grid-row: 3/ span 4;
    background-image: url(../images/exercise6.jpg);
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.training-content-6{
    display: flex;
    align-items: end;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 71, 255, 0.3);
}
.training-6 p{
    width: 50%;
}

/* training section style ends here */

/* calculator section style starts here */
.calculator-content{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.calculator-container{
    display: flex;
    background: rgb(34, 34, 34);
    padding: 1rem 3rem 2rem 3rem;
    justify-content: space-around;
}
 table,th,td{
    border:  1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
th,td{
    padding: .75rem 1.5rem .75rem 1rem;
    text-align: left;
}
th{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: .85rem;
    font-weight: 400;
}
.bmi-calculator{
    width: 50%;
}

#bmi-btn,#gender{
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    width: 48%;
    height: 48px;
    text-align: left;
    padding-left: 1.5rem;
    margin-top: 1rem;
}
#factor{
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    width: 97%;
    height: 48px;
    margin-top: 1rem;
    padding-left: 1.5rem;
}

/* calculator section style ends here */

/* team section style starts here */
.team-content{
    text-align: center;
    width: 48%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    width: 86%;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    aspect-ratio: 16/9;
    
    
}

.team-image-1{
    background: url('../images/trainer1.png');
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.team-image-2{
    background-image: url('../images/trainer2.png');
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.2)) , url('../images/trainer2.png'); */
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: rgba(0, 0, 0, 0.2),url('../images/trainer2.png'); */
    border-radius: 12px;
}
.team-image-3{
    background-image:  url('../images/trainer3.png');
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.team-image-4{
    background-image: url('../images/trainer4.png');
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.team-image-5{
    background-image: url('../images/trainer5.png');
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.team-image-6{
    background-image: url('../images/trainer6.png');
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.image-text{
    padding: 1rem 1rem;
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.image-text h3{
    color: white;
    font-style: 2rem;
    font-family: Inter;
    font-weight: 700;
}
.image-text p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

/* team section style ends here */

/* footer section style starts here */
footer{
    background-color: black;
    padding-top:4rem ;
    
}
.foot-container{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;

}
.foot-content{
    padding: 4rem 5rem;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    

}
.foot-bar-1{
    width: 35%;
}
.foot-bar-1 h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 3.8rem;
    font-weight: 800;
}

.foot-bar-2 h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.foot-bar-2 li{
    list-style: none;
    margin-bottom: .75rem;
}
.foot-bar-2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}
.foot-bar-4{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.1) ;
    padding: 2rem;
}
.foot-bar-4 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
}

/* footer section style starts here */
/* mobile responsive style starts here */
@media screen and (max-width:576px){
    html{
        font-size: 80%;
    }
    nav-bar{
        padding: 1rem;
    }
    nav-bar h1{
        font-size: 4rem;
    }
    nav-bar a {
        display: none;
    }
    nav-bar button{
        display: none;
    }
    
    nab-bar .icon{
        display:block;
    }
    .banner{
        flex-direction: column;
        padding: 1rem;
    }
    .banner-button{
        display: flex;
    }
    
    .banner-content{
        width: 100%;
    }
    .banner-content h1{
        font-size: 2.25rem;
        line-height: 45px;
    }
    .banner-content p{
        width: 75%;
        
    }
    #shape{
        font-size: 5rem;
    }
    .banner-image{
        width: 90%;
    }
    .banner-card1{
        top: 8%;
        right: 5%;
        width: 40%;
        padding: 1rem 1rem;
    }
    .banner-card2{
        bottom: 43%;
        left: 5%;
        width: 45%;
        padding: 1rem 1rem;
    }
    .habit-content{
        width: 100%;
    }
    .habit-items{
        grid-template-columns: repeat(1,1fr);
    }
    .habit-item{
        width: 100%;
    }
    /* run section responsive style starts here */
    .run-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .run-content{
        width: 100%;
        padding: 1.25rem;
    }
    .run-image{
        width: 100%;
        padding: 1.25rem;
    }
    .run-content button{
        width: 95%;
    }
    .run-image{
        width: 100%;
    }
    /* run section responsive style ends here */
    /* training section responsive style starts here */

    .training-content{
        width: 90%;
        margin: 1rem;
    }
    .training-3{
        display: none;
    }
    .training-6{
        display: none;
    }
    .training-container{
        grid-template-columns: repeat(13,1fr);
        aspect-ratio: 16/12;
        margin: 1rem;
    }
    .training-1{
        grid-column: 1/ span 7;
    }
    .training-2{
        grid-column: 8/ span 6;
    }
    .training-4{
        grid-column: 1/ span 6;
    }
    .training-5{
        grid-column: 7/ span 7;
    }
    /* training section responsive style ends here */
    /* calculator responsive style starts here */
    .calculator-content{
        width: 100%;
        padding-left: 1rem;
    }
    .calculator-container{
        flex-direction: column;
        padding: 1rem;
    }
    .bmi-calculator{
        width: 100%;
    }
    .bmi-calculator button{
        width: 60%;
    }
    /* calculator responsive style ends here */
    /* team section responsive style starts here */
    .team-content{
        width: 90%;
        text-align: center;
    }
    .team-images{
        grid-template-columns: repeat(1,1fr);

    }
    .team-image-5{
        grid-row: 2;
    }
    .team-image-3{
        grid-row: 3;
    }
    .image-text{
        aspect-ratio: 16/14;
    }
    .team-image-1{
        display: none;
    }
    .team-image-4{
        display: none;
    }
    /* team section responsive style ends here */
    /* footer section responsive style starts here */
    .foot-content{
        flex-direction: column;
        padding: 3rem 1rem;
    }
    .foot-bar-1{
        width: 80%;
    }
    /* footer section responsive style ends here */
}

/* mobile responsive style ends here */
